{
    appName = "MultiMarkdown Composer Light";
    appVersion = "3.0b15";
    subItems =     (
                {
            newTitle = "MultiMarkdown Composer";
            originalTitle = "MultiMarkdown Composer";
            subItems =             (
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "About MultiMarkdown Composer";
                    originalTitle = "About MultiMarkdown Composer";
                },
                                {
                    key = ",";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Preferences\U2026";
                    originalTitle = "Preferences\U2026";
                },
                                {
                    submenu =                     {
                        newTitle = Services;
                        originalTitle = Services;
                        subItems =                         (
                        );
                    };
                },
                                {
                    key = h;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Hide MultiMarkdown Composer";
                    originalTitle = "Hide MultiMarkdown Composer";
                },
                                {
                    key = h;
                    modAlt = 1;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Hide Others";
                    originalTitle = "Hide Others";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Show All";
                    originalTitle = "Show All";
                },
                                {
                    key = q;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Quit MultiMarkdown Composer";
                    originalTitle = "Quit MultiMarkdown Composer";
                }
            );
        },
                {
            newTitle = File;
            originalTitle = File;
            subItems =             (
                                {
                    key = n;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = New;
                    originalTitle = New;
                },
                                {
                    key = o;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Open\U2026";
                    originalTitle = "Open\U2026";
                },
                                {
                    submenu =                     {
                        newTitle = "Open Recent";
                        originalTitle = "Open Recent";
                        subItems =                         (
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Clear Menu";
                                originalTitle = "Clear Menu";
                            }
                        );
                    };
                },
                                {
                    key = d;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Compare to Other File\U2026";
                    originalTitle = "Compare to Other File\U2026";
                },
                                {
                    key = w;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Close;
                    originalTitle = Close;
                },
                                {
                    key = w;
                    modAlt = 1;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Close All";
                    originalTitle = "Close All";
                },
                                {
                    key = s;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Save\U2026";
                    originalTitle = "Save\U2026";
                },
                                {
                    key = E;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Export\U2026";
                    originalTitle = "Export\U2026";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Revert to Saved";
                    originalTitle = "Revert to Saved";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Page Setup\U2026";
                    originalTitle = "Page Setup\U2026";
                },
                                {
                    key = p;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Print Text\U2026";
                    originalTitle = "Print Text\U2026";
                },
                                {
                    key = P;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Print Preview\U2026";
                    originalTitle = "Print Preview\U2026";
                }
            );
        },
                {
            newTitle = Edit;
            originalTitle = Edit;
            subItems =             (
                                {
                    key = z;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Undo;
                    originalTitle = Undo;
                },
                                {
                    key = Z;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 1;
                    newTitle = Redo;
                    originalTitle = Redo;
                },
                                {
                    key = x;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Cut;
                    originalTitle = Cut;
                },
                                {
                    key = c;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Copy;
                    originalTitle = Copy;
                },
                                {
                    submenu =                     {
                        newTitle = "Copy As";
                        originalTitle = "Copy As";
                        subItems =                         (
                                                        {
                                key = C;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = HTML;
                                originalTitle = HTML;
                            },
                                                        {
                                key = c;
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = LaTeX;
                                originalTitle = LaTeX;
                            },
                                                        {
                                key = c;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = RTF;
                                originalTitle = RTF;
                            },
                                                        {
                                key = c;
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Plain Text";
                                originalTitle = "Plain Text";
                            }
                        );
                    };
                },
                                {
                    key = v;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Paste;
                    originalTitle = Paste;
                },
                                {
                    submenu =                     {
                        newTitle = "Paste As";
                        originalTitle = "Paste As";
                        subItems =                         (
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Paste as Bulleted List";
                                originalTitle = "Paste as Bulleted List";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Paste as Enumerated List";
                                originalTitle = "Paste as Enumerated List";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Paste as Blockquote";
                                originalTitle = "Paste as Blockquote";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Paste as Table";
                                originalTitle = "Paste as Table";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Paste as Table Row(s)";
                                originalTitle = "Paste as Table Row(s)";
                            }
                        );
                    };
                },
                                {
                    submenu =                     {
                        newTitle = Selection;
                        originalTitle = Selection;
                        subItems =                         (
                                                        {
                                key = a;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Select All";
                                originalTitle = "Select All";
                            },
                                                        {
                                key = "\Uf700";
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Increase Selection";
                                originalTitle = "Increase Selection";
                            },
                                                        {
                                key = "\Uf701";
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Decrease Selection";
                                originalTitle = "Decrease Selection";
                            },
                                                        {
                                key = "\Uf700";
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Move to Previous Section";
                                originalTitle = "Move to Previous Section";
                            },
                                                        {
                                key = "\Uf701";
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Move to Next Section";
                                originalTitle = "Move to Next Section";
                            },
                                                        {
                                key = "\Uf702";
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Move to Parent Section";
                                originalTitle = "Move to Parent Section";
                            },
                                                        {
                                key = "\Uf703";
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Move to Sibling Section";
                                originalTitle = "Move to Sibling Section";
                            }
                        );
                    };
                },
                                {
                    submenu =                     {
                        newTitle = "Convert Selection To";
                        originalTitle = "Convert Selection To";
                        subItems =                         (
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Convert to Bulleted List";
                                originalTitle = "Convert to Bulleted List";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Convert to Enumerated List";
                                originalTitle = "Convert to Enumerated List";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Convert to Blockquote";
                                originalTitle = "Convert to Blockquote";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Convert to Regular Text";
                                originalTitle = "Convert to Regular Text";
                            }
                        );
                    };
                },
                                {
                    submenu =                     {
                        newTitle = Move;
                        originalTitle = Move;
                        subItems =                         (
                                                        {
                                key = "\Uf702";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Shift Left";
                                originalTitle = "Shift Left";
                            },
                                                        {
                                key = "\Uf703";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Shift Right";
                                originalTitle = "Shift Right";
                            },
                                                        {
                                key = "\Uf700";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Shift Up";
                                originalTitle = "Shift Up";
                            },
                                                        {
                                key = "\Uf701";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 1;
                                modShift = 0;
                                newTitle = "Shift Down";
                                originalTitle = "Shift Down";
                            }
                        );
                    };
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Delete;
                    originalTitle = Delete;
                },
                                {
                    submenu =                     {
                        newTitle = Find;
                        originalTitle = Find;
                        subItems =                         (
                                                        {
                                key = f;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Find\U2026";
                                originalTitle = "Find\U2026";
                            },
                                                        {
                                key = f;
                                modAlt = 1;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Find and Replace\U2026";
                                originalTitle = "Find and Replace\U2026";
                            },
                                                        {
                                key = g;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Find Next";
                                originalTitle = "Find Next";
                            },
                                                        {
                                key = G;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 1;
                                newTitle = "Find Previous";
                                originalTitle = "Find Previous";
                            },
                                                        {
                                key = e;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Use Selection for Find";
                                originalTitle = "Use Selection for Find";
                            },
                                                        {
                                key = j;
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Jump to Selection";
                                originalTitle = "Jump to Selection";
                            }
                        );
                    };
                },
                                {
                    submenu =                     {
                        newTitle = "Spelling and Grammar";
                        originalTitle = "Spelling and Grammar";
                        subItems =                         (
                                                        {
                                key = ":";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Show Spelling and Grammar";
                                originalTitle = "Show Spelling and Grammar";
                            },
                                                        {
                                key = ";";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Check Document Now";
                                originalTitle = "Check Document Now";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Check Spelling While Typing";
                                originalTitle = "Check Spelling While Typing";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Check Grammar With Spelling";
                                originalTitle = "Check Grammar With Spelling";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Correct Spelling Automatically";
                                originalTitle = "Correct Spelling Automatically";
                            }
                        );
                    };
                },
                                {
                    submenu =                     {
                        newTitle = Substitutions;
                        originalTitle = Substitutions;
                        subItems =                         (
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Show Substitutions";
                                originalTitle = "Show Substitutions";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Smart Copy/Paste";
                                originalTitle = "Smart Copy/Paste";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Smart Quotes";
                                originalTitle = "Smart Quotes";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Smart Dashes";
                                originalTitle = "Smart Dashes";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 1;
                                newTitle = "Smart Links";
                                originalTitle = "Smart Links";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Text Replacement";
                                originalTitle = "Text Replacement";
                            }
                        );
                    };
                },
                                {
                    submenu =                     {
                        newTitle = Transformations;
                        originalTitle = Transformations;
                        subItems =                         (
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Make Upper Case";
                                originalTitle = "Make Upper Case";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Make Lower Case";
                                originalTitle = "Make Lower Case";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 0;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = Capitalize;
                                originalTitle = Capitalize;
                            }
                        );
                    };
                },
                                {
                    submenu =                     {
                        newTitle = Speech;
                        originalTitle = Speech;
                        subItems =                         (
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Start Speaking";
                                originalTitle = "Start Speaking";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Stop Speaking";
                                originalTitle = "Stop Speaking";
                            }
                        );
                    };
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Customize Menus";
                    originalTitle = "Customize Menus";
                },
                                {
                    key = "\Uf747";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Start Dictation";
                    originalTitle = "Start Dictation";
                },
                                {
                    key = " ";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 1;
                    modShift = 0;
                    newTitle = "Special Characters\U2026";
                    originalTitle = "Special Characters\U2026";
                }
            );
        },
                {
            newTitle = Format;
            originalTitle = Format;
            subItems =             (
                                {
                    key = b;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Bold;
                    originalTitle = Bold;
                },
                                {
                    key = i;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Italic;
                    originalTitle = Italic;
                },
                                {
                    key = l;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 1;
                    modShift = 0;
                    newTitle = "Toggle List Type";
                    originalTitle = "Toggle List Type";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = MultiMarkdown;
                    originalTitle = MultiMarkdown;
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Markdown;
                    originalTitle = Markdown;
                }
            );
        },
                {
            newTitle = View;
            originalTitle = View;
            subItems =             (
                                {
                    submenu =                     {
                        newTitle = "";
                        originalTitle = "";
                        subItems =                         (
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = Default;
                                originalTitle = Default;
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = Empty;
                                originalTitle = Empty;
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = New;
                                originalTitle = New;
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "New-Dark";
                                originalTitle = "New-Dark";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = Plain;
                                originalTitle = Plain;
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = Pretentious;
                                originalTitle = Pretentious;
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = Simple;
                                originalTitle = Simple;
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = Solarized;
                                originalTitle = Solarized;
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Solarized (Dark)";
                                originalTitle = "Solarized (Dark)";
                            },
                                                        {
                                key = "";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "White Rabbit";
                                originalTitle = "White Rabbit";
                            }
                        );
                    };
                },
                                {
                    key = r;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Refresh Preview";
                    originalTitle = "Refresh Preview";
                },
                                {
                    key = p;
                    modAlt = 1;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Preview with Marked";
                    originalTitle = "Preview with Marked";
                },
                                {
                    submenu =                     {
                        newTitle = Zoom;
                        originalTitle = Zoom;
                        subItems =                         (
                                                        {
                                key = "=";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Zoom Editor In";
                                originalTitle = "Zoom Editor In";
                            },
                                                        {
                                key = "-";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 0;
                                newTitle = "Zoom Editor Out";
                                originalTitle = "Zoom Editor Out";
                            },
                                                        {
                                key = "=";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 1;
                                newTitle = "Zoom Preview In";
                                originalTitle = "Zoom Preview In";
                            },
                                                        {
                                key = "-";
                                modAlt = 0;
                                modCmd = 1;
                                modCtrl = 0;
                                modShift = 1;
                                newTitle = "Zoom Preview Out";
                                originalTitle = "Zoom Preview Out";
                            }
                        );
                    };
                }
            );
        },
                {
            newTitle = Window;
            originalTitle = Window;
            subItems =             (
                                {
                    key = m;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Minimize;
                    originalTitle = Minimize;
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Zoom;
                    originalTitle = Zoom;
                },
                                {
                    key = f;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 1;
                    modShift = 0;
                    newTitle = "Enter Full Screen";
                    originalTitle = "Enter Full Screen";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Bring All to Front";
                    originalTitle = "Bring All to Front";
                },
                                {
                    key = I;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Toggle Info";
                    originalTitle = "Toggle Info";
                },
                                {
                    key = T;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Toggle TOC";
                    originalTitle = "Toggle TOC";
                },
                                {
                    key = p;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 1;
                    modShift = 0;
                    newTitle = "Toggle Preview";
                    originalTitle = "Toggle Preview";
                },
                                {
                    key = R;
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Toggle References";
                    originalTitle = "Toggle References";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Save HUD Panel Positions";
                    originalTitle = "Save HUD Panel Positions";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Restore HUD Panel Positions";
                    originalTitle = "Restore HUD Panel Positions";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = Untitled;
                    originalTitle = Untitled;
                }
            );
        },
                {
            newTitle = Help;
            originalTitle = Help;
            subItems =             (
                                {
                    key = "?";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "MultiMarkdown Composer Help";
                    originalTitle = "MultiMarkdown Composer Help";
                },
                                {
                    key = "/";
                    modAlt = 0;
                    modCmd = 1;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "MultiMarkdown Syntax Guide";
                    originalTitle = "MultiMarkdown Syntax Guide";
                },
                                {
                    key = "";
                    modAlt = 0;
                    modCmd = 0;
                    modCtrl = 0;
                    modShift = 0;
                    newTitle = "Online Help";
                    originalTitle = "Online Help";
                }
            );
        }
    );
}