/* Accept button */
"Accept" = "Annehmen";

/* Alert message title */
"Alert" = "Achtung";

/* Character count label */
"C" = "A";

/* Cancel button */
"Cancel" = "Abbrechen";

/* Character count label */
"Characters" = "Anschläge";

/* Choose a file in your Dropbox folder... */
"Choose a file in your Dropbox folder..." = "Wählen Sie eine Datei in Ihrem Dropbox-Verzeichnis ...";

/* Congrats */
"Congratulations!" = "Glückwunsch!";

/* CriticMarkup HUD name */
"CriticMarkup   " = "CriticMarkup   ";

/* Info HUD name */
"Info " = "Informationen  ";

/* Line count label */
"L" = "Z";

/* Line count label */
"Lines" = "Zeilen";

/* OK Button */
"OK" = "OK";

/* Paragraph count label */
"P" = "A";

/* Paragraph count label */
"Paragraphs" = "Absätze";

/* Preview HUD name */
"Preview  " = "Vorschau  ";

/* Reference HUD name */
"References  " = "Referenzen  ";

/* Reject button */
"Reject" = "Ablehnen";

/* Dropbox folder error */
"The file you have chosen does not appear to be in your Dropbox folder. Please select again." = "Die ausgewählte Datei scheint nicht in einem Dropbox-Verzeichnis zu liegen. Bitte wählen Sie erneut.";

/* ePub export error */
"This file could not be exported to a valid ePub. It is likely that the HTML was not valid (are CriticMarkup changes present?)." = "Diese Datei konnte nicht als ePub exportiert werden. Vermutlich ist das HTML nicht valide. Gibt es vielleicht noch CriticMarkup-Einträge?";

/* Overwrite style changes error */
"This will remove any customizations you have made to the built-in themes.  Other themes will not be affected.  Always backup any files that are important to you." = "Dieser Vorgang wird alle Anpassungen an den eingebauten 'Themes' verwerfen. Andere 'Themes' werden nicht betroffen sein. Sichern Sie Dateien, die für Sie wichtig sind.";

/* TextBundle export error */
"To export as a Markdown/MultiMarkdown TextBundle package, you need the Pro version of MultiMarkdown Composer." = "Für einen Export als TextBundle-Paket brauchen Sie die Pro-Version von MultiMarkdown Composer.";

/* TOC HUD name */
"TOC " = "Inhaltsverzeichnis ";

/* Track Changes message title */
"Track Changes is enabled." = "Änderungsverfolgung eingeschaltet.";

/* Word count label */
"W" = "W";

/* Select your Dropbox folder... */
"Where is your Dropbox folder..." = "Wo ist ihr Dropbox-Verzeichnis ...";

/* Word count label */
"Words" = "Wörter";

/* CriticMarkup Warning */
"You cannot modify CriticMarkup while change tracking is enabled." = "Sie können CriticMarkup nicht ändern solange die Änderungsverfolgung eingeschaltet ist.";

/* Disable track changes error */
"You must disable Track Changes before using the TOC to rearrange text." = "Sie müssen die Änderungsverfolgung ausschalten, um mittels Inhaltsverzeichnis das Dokument umzustrukturieren.";
